/* 2D transformation se aap kisi bhi chij ko rotate(rotate) ,move(translate) ,scale ya skew kar sakte ho.
property name is transform but iske sath problem ye hai ki wo inline element ke sath
kaam nai karta hai. it works only with block or inline block element. but we can change 
any inline element into block or inline block by using display property */

#wrapper{
    padding:20px;
    margin:20px;
    background-color: yellow;
    /* transform:matrix(scaleX(), skewY(),skeyX(), scaleY(), translateX(),translateY(),)  it is used to use all
    the transform property in one line. this is the last topic. order should be same so not recommended*/
    transform:matrix(1,-0.5,0,1,0,0);
}
a{
    text-decoration: none;
    background-color: lightcoral;
    padding:10px 20px;
    color:beige;
    /* transform:translate(50px, 50px)*/;/*abhi kam nai karega kyunki ye inline element hai to display change karte hai 
                                     translate 2 argument lega 1. x-axis se kitna dur MOVE karwana hai
                                     2. y axis se kitna dur MOVE karwana hai. dono axis me alag alag bhi 
                                     use kar sakte hai*/
    /* display: inline-block; */
    /*last skew property hai. skew me 2 argument hoga degree me ek x axis me dusra y axis me
    isko bhi bas x axis ya y axis pe kar sakte hai.*/
    /* transform:skew(20deg , 10deg); */
}
/*ab hover pe transform karte hai*/
a:hover{
    display: inline-block;
    /* transform:translate(50px, 50px); */
     transform: rotate(20deg); /*kitna degree move karwana hai */
     transform-origin: 0% 100%;/*ka ha se move karwana hai. abhi x axis ko 0 or y 1oo% kar diya hai to niche 
                                 wala se rotate hoga. by default 0 0 pecent rehta hai */
    /* transform:scale(0.5, 3);  dono argument integer hoga. multiply karega width or height se
                                to hum element ko chhota bara kar sakte hai. isme bhi scaleX or scaleY use kar sakte hai*/


}