#bg{
    background-color: yellow;
}
/*

body{
    background-color: red;
}
*/

#bgimage{
    background-image:url(../images/abc.jpg);/* image will repeat if we use only this*/
    background-repeat:no-repeat;/* repeat-x=horizontal repeat, repeat-y=vertical repeat*/
    background-position:100px 10% ;/*we can use axis(x-axis y-axis) in pixel /percentage 
    or simple english like right top. others=right bottom, right center, center,left top, left bottom etc*/
    background-size:50% 50%;/* size badhega horizontal and column 100% 100% me pura 
    fill kar lega. other way to use attribute value is like 
    "cover": automatic 100% cover kar lega lekin isme image kat jata hai thora sa. , contain: image nai katega
     lekin pura cover nai kar pata hai isliye image ka size or div ka size same rakhna hai is property me*/
    background-attachment: fixed;/* by default it is scroll*/
}


/* shorthand to use background image= not recommended*/

#bgimage{
    background:#ffffff url(../images/abc.jpg) no-repeat fixed 5% 10%;
/* 1. order change nai hona hai lekin kisi ko hata sakte hai  agar use nai hai to
orde color-imageurl-repeat-attachment-position
we can use multiple background also like background color and image (better if it is transparent)together 
or 2 image together(iske liye dono image ka background position comma dekar dena hoga 
or background attachment se cover hatana parega)
*/
}
